[
    {
        "ParameterKey": "Initials",
        "ParameterValue": "<initials>"
    },
    {
        "ParameterKey": "DomainName",
        "ParameterValue": "<domain-name>"
    },
    {
        "ParameterKey": "S3HostedZoneId",
        "ParameterValue": "<id>"
    }
]